*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: rgb(27, 27, 27);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    height: 100%;
    width: 100%;
    background-color: rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-page{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    font-family: 'Abril Fatface', cursive;
    font-size: 4.5rem;
    letter-spacing: 1rem;
    color: rgb(228, 255, 253);
}

h2{
    font-size: 1.3rem;
    font-weight: lighter;
}

.title-page p{
    word-spacing: 1rem;
}

ul{
    background-color: rgb(63, 63, 63);
    padding: 1rem;
    border-radius: 10px;
}
li{
    display: inline;
    margin: 0 1.3rem;
    font-weight: bold;
    color: rgb(211, 255, 251);
}

.input-div{
    margin: 0.5rem;
}

#input{
    width: 15rem;
    height: 2rem;
    border-radius: 10px;
    color: rgb(228, 255, 253);
    text-align: center;
    background-color: transparent;
    border: 1px solid rgb(228, 255, 253);
}

::placeholder{
    color: rgb(238, 238, 238);
}

#button{
    width: 5rem;
    height: 2rem;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(228, 255, 253);
    border: none;
    cursor: pointer;
    font-weight: bold;
} 


.card{
    height: auto;
    width: 60vw;
    background-color: azure;
    color: rgb(49, 48, 48);
    border-radius: 20px;
    display: flex;
    overflow: hidden;
}

.card .info{
    width: 70%;
    margin: 30px 0 30px 80px;
    border-radius: 10px;
    text-align: center;
}

.card .info h2, h3{
    font-family: 'Abril Fatface', cursive;
}
.card .info h2{
    font-size: 4rem;
}

p{
    font-size: 1.3rem;
    margin-bottom: 10px;
}
h3{
    font-size: 2rem;
}

.img{
    width: 30%;
    height: 100%;
    position: relative;
}
img{
    height: 400px;
    width: 400px;
    background-color: azure;
    left: 18%;
}

.info-pizza{
    margin-top: 2rem;
    font-size: 1.2rem;
}

.info-pizza i{
    margin: 0 1rem;
    color: rgb(107, 107, 107);
}

/*Queries*/
@media (max-width: 425px){
    h1{
        font-size: 2.5rem;
        letter-spacing: 5px;
        margin: 1rem 0;
    }

    ul{
        padding: 0.5rem;
        margin: 1rem 0;
        font-size: 1rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    li{
        margin: 0.3rem;
    }
    .input-div{
        margin-bottom: 1rem;
    }
    #input{
        width: 10rem;
    }

    ::placeholder{
        font-size: 0.7rem;
    }

    .card{
        width: 90%;
    }

    .card .info{
        margin: 0;
    }

    .card .info h2{
        font-size: 2.1rem;
        margin: 3% 5%;
    }
    
    p{
        font-size: 0.9rem;
        margin: 1% 10px;
    }
    h3{
        font-size: 1.5rem;
    }

    img{
        height: 250px;
        width: 250px;
    }
    .info-pizza{
        margin-top: 5%;
        font-size: 0.7rem;
    }
    .info-pizza i{
        margin: 0 0.2rem;
    }
}

/*TABLET*/
@media (max-width: 768px){
   .card{
    width: 85vw;
   }
    .info-pizza i{
        margin: 0 0.7rem;
    }
}